.cart-container {
    padding: 2rem;
    margin-top: 80px; /* Adjust based on your header height */
    min-height: calc(100vh - 150px); /* Adjust to make room for header/footer */
}
.cart-item {
    display: flex;
            align-items: center;
            margin-bottom: 1rem;
            border: 1px solid #eee;
            padding: 1rem;
            background-color: #fff;
            border-radius: 8px;
}
.navbar .cart-active {
  background-color: #556B2F;
  border-radius: 5rem;
  color: #fff;
  transition: background 0.5s;
}
        .cart-item img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            margin-right: 1rem;
            border-radius: 4px;
        }
        .cart-item-details {
            flex-grow: 1;
        }
        .cart-item-details h3 {
            margin: 0 0 0.5rem 0;
            font-size: 1.2rem;
            color: #333;
        }
        .cart-item-details p {
            margin: 0;
            color: #777;
        }
        .cart-item-price {
            font-size: 1.1rem;
            font-weight: bold;
            color: #333;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .remove-btn {
            background: none;
            border: none;
            color: #e74c3c;
            font-size: 1.5rem;
            cursor: pointer;
            transition: color 0.3s;
        }
        .remove-btn:hover {
            color: #c0392b;
        }
        .cart-total {
            text-align: right;
            padding: 1rem;
            font-size: 1.5rem;
            font-weight: bold;
            border-top: 2px solid #eee;
            margin-top: 2rem;
        }
        .empty-cart-message {
            text-align: center;
            margin-top: 50px;
            font-size: 1.2rem;
            color: #555;
        }
        .login-btn {
            padding: 12px 30px;
            background: #556B2F;
            color: #fff;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 500;
            cursor: pointer;
            border: none;
            border-radius: 0.5rem;
            transition: all 0.3s ease;
        }
        .login-btn:hover {
            background: chocolate;
            transform: scale(1.05);
        }