/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/*Some variables*/
:root {
    --green-color: #3cb815 ;
    --light-green-color: #c0eb7b;
    --orange-color: #ff7e00 ;
    --light-orange-color: #f75f1d;
    --dark-olive-green: #556B2F;
    --text-color: #1a2428;
    --bg-color: #fff;
}
section {
    padding: 4.5rem 0 1.5rem;
}
img {
    width: 100%;
}
body {
    color: var(--text-color);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px;
    transition: 0.5s;
}
.profile {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}
.profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.profile span {
    font-size: 13px;
    font-weight: 500;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
}
.logo .bx {
    font-size: 34px;
    color: var(--orange-color);
}
.navbar {
    display: flex;
    column-gap: 0.5rem;
}
.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.5rem 1rem;
}
.navbar a:hover,
.navbar .products-active {
    background-color: #556B2F;
    border-radius: 5rem;
    color: var(--bg-color);
    transition: background 0.5s;
}
.header-icons {
    font-size: 22px;
    cursor: pointer;
    z-index: 100000;
}
#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.search-box {
    position: absolute;
    top: 110%;
    right: 1rem;
}
.search-box input{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    width: 280px;
    box-shadow: var(--text-color);
}
.search-box.active {
    right: 1rem;
    transition: 0.2s;
}
.products {
    position: relative;
    width: 100%;
    min-height: 700px;
    display: flex;
    align-items: center;

}
.products {
    max-width: 968px ;
    margin-left: auto;
    margin-right: auto;
}
.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
}

.products-container .box {
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
    position: relative;
}
.products-container .box img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}
.products-container .box span{
    font-weight: 500;
    font-size: 13px;

}
.products-container .box h2{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: chocolate;
}
.products-container .box .price{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: chocolate;
}
.products-container .box .price span{
    color: var(--text-color);
}
.products-container .box .bx-cart-alt{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: #556B2F;
    color: var(--bg-color);
    font-size: 20px;
    border-radius: 0.5rem 0 0.5rem 0;
}
.products-container .box .bx-cart-alt:hover{
    background: chocolate;
    transition: 0.2s all linear;
}
.top-banner {
    width: 100%;
    padding: 30px 0;
    background: url(img/login.jpg);
    text-align: center;
    margin-top: 80px;
}

.top-banner h1 {
    font-size: 2.5rem;
    color: var(--dark-olive-green);
    margin-bottom: 1rem;
}


