<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samarth Aushadhalay</title>
    <!--link to CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <!-- Box Icon -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <!-- Navbar -->
     <header>
      <!-- Profile -->
      <div class="profile">
        <img src="{{ url_for('static', filename='img/logo_srividya_(1).png') }}" alt="">
        <span>SAMARTH AUSHADHALAY</span>
      </div>
        <!-- <a href="#" class="logo"><i class='bx bx-plus-medical'></i>Ayurveda</a> -->
        <!-- menu icon -->
        <div class="bx bx-menu" id="menu-icon"></div>
        <!-- Nav List -->
         <ul class="navbar">
            <li><a href="#home" class="home-active">Home</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="cart.html">Cart</a></li>
            <li><a href="order_history.html">My Orders</a></li>
         </ul>
         <!-- Header Icon -->
          <div class="header-icons">
            {% if session.get('username') %}
            <div class="logged-in-user-info">
              <span>Hello, {{ session['username'] }}</span>
              <a href="#" id="logout-icon" onclick="event.preventDefault(); document.getElementById('logout-form').submit();"><i class='bx bx-log-out'></i></a>
              <form id="logout-form" action="{{ url_for('auth.logout') }}" method="POST" style="display: none;"></form>
            </div>
            {% else %}
            <a href="login.html"><i class='bx bx-user' id="user-icon"></i></a>
            {% endif %}
            <i class='bx bx-menu' id="menu-icon"></i>

          </div>
          
     </header>
     <!-- Home -->
      <section class="home" id="home"
      style="background-image: url('{{ url_for('static', filename='img/Home_2.jpg') }}');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;">
        <div class="home-text">
            <h1>Ayurveda:</h1>
            <h4>The Way Of Life</h4>
            <a href="products.html" class="btn">See More<i class='bx bx-right-arrow-alt' ></i></a>
        </div>
      </section>
</body>
</html>